 <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
  <div class="panel-primary">
   <div class="panel-heading"> 
 <h3 class="panel-title">Add new Employee</h3>
   </div>
  <div class="panel-body">
      <div class="form-group">
          <label for="name">Name</label>
          <input id="name" text="text" name="name" [(ngModel)]="name" class="form-control">
        </div> 
        
          <div class="form-group">
              <label for="email">Email-id</label>
              <input id="email" text=" text" name="email" [(ngModel)]="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input id="salary" text=" text" name="sal" [(ngModel)]="salary"  class="form-control">
              </div>
            <div class="form-group">
                <label for="mobile">mobile</label>
                <input id="mobile" text=" text"name="mobile" [(ngModel)]="mobile" class="form-control">
              </div>   
              <div class="form-group">
                  <label for="department">department</label>
                  <select id="department" text=" text" name="department" [(ngModel)]="department" class="form-control">
                    <option *ngFor="let dept of departments" [value]="dept.id">
                      {{dept.name}}
                    </option>
                  </select>
                </div>  
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">save</button>
        </div>
  </div>
</form>
{{employeeForm.value | json}}
 <!-- <from>
   <div class="form-group">
     <label for="first_Name">First_Name</label>
     <input id="first_Name" text=" text" class="form-control">
   </div>
   <div class="form-group">
      <label for="lirst_Name">Lirst_Name</label>
      <input id="lirst_Name" text=" text" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email-id</label>
        <input id="email" text=" text" class="form-control">
      </div>
      <div class="form-group">
          <label for="salary">Salary</label>
          <input id="salary" text=" text" class="form-control">
        </div>
      <div class="form-group">
          <label for="mobile">mobile</label>
          <input id="mobile" text=" text" class="form-control">
        </div>
 </from>  -->
  <!-- <table align="center" cellpadding = "10">
  <tr>
      <td>FIRST NAME</td>
      <td><input type="text" name="First_Name" maxlength="30"/>
      
      </td>
      </tr>
      <tr>
<td>LAST NAME</td>
<td><input type="text" name="Last_Name" maxlength="30"/>

</td>
</tr>
<tr>
<td>Email-id</td>
<td><input type="text" name="email" maxlength="50"/>
</td>
</tr>
<tr>
    <td>mobile</td>
    <td><input type="text" name="mobile" maxlength="30"/>

    </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
        <button (click)="function($event)">add</button>
        </td>
        </tr>

  </table> -->