<header>
   <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a> 
    <nav>
      <ul>
        <!-- <li><a routerLink="/department">department</a></li> -->
        <li><a routerLink="/timesheet">Time-sheet</a></li>
         <li><a routerLink="/add">addEmployee</a></li> 
        <!-- <li><a routerLink="/update">updateEmp</a></li> -->
      
        <li><a routerLink="/listemp">Employeelist</a></li>
      </ul>
    </nav>
   </div>
</header>

<!-- <a routerLink="/department" routerLinkActive="active">department</a>
<a routerLink="/employee" routerLinkActive="active">Employee</a>  -->