  
    <!-- <div class= "row" style="text-align:center">
        <div class="panel-primary">
                 <div class="panel-heading"> 
              <h3 class="panel-title">Attedance Mangament System</h3>
                </div> 
          < <div class="panel-primary">
            <h3>Attedance Mangament System</h3>
            </div>   
            </div>  -->
<app-nav></app-nav>   



<!-- <p>Employees</p>
<table border="2">
    <tr *ngFor=let emp of employees>
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.salary}}</td>
    </tr>
</table> -->
<!-- <app-user-list></app-user-list>
<app-user-detials></app-user-detials> -->


<router-outlet></router-outlet>

